# Core Data Science Libraries
pandas==2.2.2
numpy==1.26.4

# Data Visualization
matplotlib==3.8.4
seaborn==0.13.2

# Scikit-learn for Modeling, PCA, Clustering
scikit-learn==1.4.2

# Statistical Tests
scipy==1.13.1

# Jupyter Notebook (if running locally)
notebook==7.2.0
ipykernel==6.29.4